{% extends 'base.html.twig' %}

{% block title %}Créer Formation{% endblock %}

{% block body %}
    
  <h1>Créer Formation</h1>
    {{ include('course/_form.html.twig') }}

    <a href="{{ path('app_course_index') }}">Retour a la liste</a>
{% endblock %}
