{% extends 'base.html.twig' %}

{% block title %}Nouveau log{% endblock %}

{% block body %}
    <h1>Créer un nouveaux log</h1>

    {{ include('log/_form.html.twig') }}

    <a href="{{ path('app_log_index') }}">Retour à la liste</a>
{% endblock %}
