{% extends 'base.html.twig' %}

{% block title %}Créer un Message{% endblock %}


{% block body %}
    
    <h1>Créer un Message</h1>

    {{ include('message/_form.html.twig') }}

    <a href="{{ path('app_message_index') }}">Retour a la liste</a>
{% endblock %}
